{% load static %}
<div class="container-fluid row">

    {%if current_user.userrol == 'médico' %}
    <div class="container-fluid col-sm" style="padding: 50px">

        <div class="col" class="input-group input-group-sm" style="padding-top: 0; position: relative; ">
            <form method="POST" class="search-form" action="{% url 'registros' %}">
                {% csrf_token %}
                <div class="col-4">
                    <h4 class="text">Buscar consulta</h4>
                </div>
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Cédula de paciente..." id="id_input" name="id_input" 
                        style="border-radius: 10px; width: 300px; border: none; font-size: small; padding: 8px 10px 8px 10px">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        

        <div class="card mycard" id="card_greetings">
            <div style="width: 80%; height: 50%;">
                <span style="color: #26283E; font-size: x-large; font-weight: bolder; margin: 0px">Saludos, <b style="color: #0796D8; font-size: x-large; font-weight: bolder; margin: 0px ">{{current_user.user_name}}</b></span>
            </br><span style="color: #26283E; font-size: large; font-weight: lighter; ">Tenga un buen día</span>
            </br><span style="color: #909090; font-size: 15px; font-weight: light; margin-top: 100px">Sistema de diagnóstico inmediato para anomalías del sistema nervioso central fetal</span>
            </div>
            <img src="{% static 'images/greetings.png' %}" style="width: 240px;
            transform: translate(-98px, -60px); margin: 0px 10px 0px 10px" alt="Nuevo investigador"> 

        </div>
        {%endif%}
