{% extends "users/home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<head> <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}">

</head>
<div>

    <div class="cont">

        <div class="login-card">
            <div class="row">
                <div class="col request-password">
                    <form method="post">
                        {% csrf_token %}
                        <!-- <h2>Password Reset Confirm</h2> -->
                        
                        {% for field in form %}
                                  {{ field.label_tag }} 
                                  {{ field }}
                                  {% if field.errors %}
                                      <small>{{ field.errors|striptags  }}</small> 
                                  {% endif %}
                          {% endfor %}
                          <div class=" rowbutton">
                          <button type="submit" class="btn btn-reset">Cambiar contraseña</button>
                        </div>
                      </form>

                </div>
            
            </div>
        </div>
    </div>
</div>
{% endblock body %}