{% extends "users/home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}">

</head>
<div>

    <div class="cont">

        <div class="login-card">
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col request-password">
                    <form method="post">
                        {% csrf_token %}
                        <div class="display: flex;justify-content: space-around;">
                            <button class="btn round-button" type="button" id="cancelInfo" onclick="window.location.href = '{% url 'profile' %}'"> <i class="fa-solid fa-xmark"></i></button>
                        </div> </br></br>
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        </br></br>
                        <div class="display: flex;justify-content: space-around;">
                            <button type="submit" class="enviar">Actualizar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock body %}