{% extends "users/home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}">

</head>
<div>

    <div class="cont">

        <div class="login-card">
            <div class="row">
             
                <div class="col request-password">
                    <p style="font-weight: bold;">Si la cuenta existe, debe haberte llegado un correo con las instrucciones a seguir. </p><p style="font-size: small;">Por favor revisa tu bandeja de entrada, si no ves nuestro correo revisa en 'Spam'.</p>
                </br>
                    {% comment %} <a href="/login">Regresar al login</a> {% endcomment %}
                    <div style="display: flex; justify-content: space-around;">
                        <button class="btn gotologin-button" type="button" onclick="window.location.href='{% url 'login' %}'">Regresar al login</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}