{% extends "users/home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}">

</head>
<div>

    <div class="cont">

        <div class="login-card">
            <div class="row">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="col request-password">
                    <form method="post">
                        {% csrf_token %}
                        <div class="display: flex;justify-content: space-around;">
                            <button class="btn round-button" type="button" id="cancelInfo" onclick="window.location.href = '{% url 'login' %}'"> <i class="fa-solid fa-xmark"></i></button>
                        </div> </br></br>
                        <label for="exampleInputEmail1">Ingrese el correo electronico asociado a su cuenta</label>
                        {% for field in form %}
                                {{ field.label_tag }} 
                                {{ field }}
                                {% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
                        {% endfor %}
                        <div class="form-buttons rowbutton">
                            <input type="submit" value="Recuperar contraseña" class="btn btn-reset">
                        </div>
                    </form>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}