.all-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the container covers the full viewport height */
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.content-body {
    background-size: cover;
    
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    padding: 100px;
    display: block
}

.welcome{
    position: absolute;

}

h1 {
    font-family: 'League Spartan', sans-serif;  
    font-size: 48px;
    font-weight: bold;
    color: #0796D8;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2{
    font-family: 'League Spartan', sans-serif;
}

p{
    font-family: 'League Spartan', sans-serif;
}

.image-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-with-text img {
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.logo{
    width: 250px;
}

.welcome
{
    width: 80%;
}

.navbar-nav{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold; 
}

.menuItem{
    color: #26283E,
}

.menuItem:hover{
    text-decoration: none;
}

.footer-distributed{
    background-color: #F1F0F7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 20px 20px;
    overflow: hidden;
}

.loginLink{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: #26283E;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.loginLink:hover{
    text-decoration: none;
    color: #0279AF; 
}

.aboutUsImg{
    display: block;
    margin: auto;
    width: 100px;
    padding-bottom: 20px;
}