/* Set the font family and size for the form */
form {
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

/* Text and links */

h2{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: #26283E;
}

h6{
    font-family: 'League Spartan', sans-serif;
    font-size: small;
    text-align: center;
}

.toregister{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: #26283E;
    font-size: small;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

}

a:visited {
    text-decoration: none;
}

a:hover {
text-decoration: none;
color: #0279AF;

}

a:active {
text-decoration: none;
}

/* Style the labels for the form fields */
label {
    font-size: small !important;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #26283E;
}

/* Style the form fields */
input[type="text"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}

input[type="email"], textarea {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-color: #26283E;
    font-size: small;
    transition: background-color 0.2s ease-in-out;
}

input[type="email"]:hover {
    background-color: #F1F0F7;
}

input[type="password"], textarea {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-color: #26283E;
    font-size: small;
    transition: background-color 0.2s ease-in-out;
}

input[type="password"]:hover {
    background-color: #F1F0F7;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #0796D8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"]:hover{
    background-color: #0279AF;
}

/* Style the form error messages */
.errorlist {
    color: red;
    margin-top: 5px;
}

/* divs */
.login-options{
    background-color: #FFFBFA;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.image-login{
    background-color: #FFFBFA;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img-fluid{
    margin: 50px;   
    margin-left: 0px !important;
}
