input[type="text"], input[type="date"]{
  background-color: #f2f2f2;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  padding: 2px 10px 2px 10px;
  height: 28px;
}

.search-formm{
    width: 100%;
}

.search {
    color: #0796D8;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.eye-search{
  display: inline-block;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.search:hover{
    /* color: white;
    border-radius: 50%;
    background-color: #0279AF;
    padding: 5px; */
    color: #232539;
    transform: scale(1.05);
}

.fa-circle-question{
  color: #0796D8;

}

label {
    font-size: small;
    font-weight: bold;
    color: #26283E;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #0796D8;
    font-size: 16px !important;
    color: white;
    padding: 10px;
}

td{
    padding: 8px 15px 8px 15px;
}

td, th{
    border: 1px solid #d9d9d9;
    font-family: 'League Spartan', sans-serif;
    width: fit-content;
    font-weight: lighter;
}

table tr:nth-child(even){background-color: #f2f2f2;}

.container{
  display: block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.mid-container {
  display: flex;
  justify-content: center; /* Clears any floats within the container */
}

.left-div, .right-div {
  flex: 0 0 auto; /* Allows divs to shrink to fit content */
  margin: 0 10px; /* Adjust the margin between the divs as per your preference */
}

.left-div{
  background-color: white; border-radius: 10px; padding: 10px 20px;
}

.right-div{
  display: flex;
  align-items: center;
}

.round-button {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-left: 10px;
  }
  
  .round-button i {
    color: #26283E;
  }

  .round-button:hover{
    background-color: #9b9b9b;
    transform: scale(1.05);
  }

  #pagination{
    margin-top: 40px;
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-25%, -50%);
    padding: 0px 20px 0px 20px;
    font-weight: bold;
  }
  
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 0.25rem;

  }

a{
    padding-left: 10px;
    padding-right: 10px;
    color: #0279AF;
    font-family: 'League Spartan', sans-serif;
}


a:hover{
color: #26283E
}


.all-div-inside{
display: flex; flex-direction: column; align-items: flex-end;
  /* padding: 0 100px 0 100px; */
}

.all-eye{
color: #0796d8; font-size: xx-large; padding: 5px; transition: all 0.5s ease; cursor: pointer;
}

.all-eye:hover{
  color: #0279AF;
  transform: scale(1.05);
}

.all-button{
width: 100px;
height: 28px;
border-radius: 5px;
background-color: #0796D8;
color: white;
border: none;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s ease;
}

.all-button:hover{
background-color: #26283E;

}

.all-button i {
color: white;
padding-right: 5px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  font-family: 'League Spartan', sans-serif;
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  min-width: 220px;
  max-width: 400px;
  background-color: #26283E;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  white-space: pre-wrap;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
  transition: all 0.3s ease;
  text-align: center;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}