body {
    background: #d8d8d8;
}

form {
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.text-right{
    font-weight: bold;
}

.subtitle-text{
    font-weight: lighter;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0796D8
}

/* Style the submit button */
button[type="submit"], button[type="button"]  {
    background-color: #0796D8;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
}

button[type="button"]

.profile-button:disabled{
    background: #D9D9D9;
}

.profile-button {
    background: #0796D8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0279AF
}

.profile-button:focus {
    background: #0279AF;
    box-shadow: none
}

.profile-button:active {
    background: #0279AF;
    box-shadow: none
}

.password-button:disabled{
    background: #D9D9D9;
}

.password-button {
    background-color: #26283E !important;
    box-shadow: none;
    border: none
}

.password-button:hover {
    background-color: #0279AF !important;
}

.password-button:focus {
    background: #0279AF;
    box-shadow: none
}

.password-button:active {
    background: #0279AF;
    box-shadow: none
}

.back:hover {
    color: #0796D8;
    cursor: pointer
}

.labels {
    font-size: 15px !important;
    display: block;
    font-weight: bold;
    color: #26283E;
    margin-top: 20px;
}

.form-control, input[type="email"]{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #26283E;
    margin: 8px 0 8px 0;
    height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container{
    padding-right: 50px;
    margin-top: 50px
}

.log-out-icon::before{
    color: white;
    background: #0796D8;
    border-radius: 50px;
    padding: 10px;
}

.log-out-icon::before:hover{
    background: #0796D8;

}

.btn-primary:hover{
    background-color: #0279AF !important;
}

.round-button{
    width: 40px !important; 
    float: right; 
    margin-bottom: 20px; 
    margin-right: 20px;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50% !important;
    cursor: pointer;
    height: 40px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: #E26969 !important;
    transition: all .5s ease !important;
}

.round-button:hover{
    background-color: #ae3131;
    color: white;
    /* transform: scale(1.1); */
}